<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
	  <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
	<authorization>
		
		<deny users="?"/>
		<deny roles="Alumno"/>
		<deny roles="Maestro"/>
		<allow roles="Directivo"/>
	</authorization>

  </system.web>
</configuration>
